@use 'sass:math';

.formButton {
  background-color: rgb(155, 70, 240);
  border-radius: 10px;
  width: 200px;
  height: 40px;
}

.unDisabled {
  background-color: #b7cadd;
  border-radius: 10px;
  width: 200px;
  height: 40px;
}
