
@use 'sass:math';

@import '../../styles/style.scss';

.main {
  // .main__section

  &__section {
  }

  // .main__container

  &__container {
  }

  // .main__content

  &__content {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: rem(10);
  }
}
.content {

}
.error{
  font-size: rem(36);
  color: red;
}
